html{
    font-size: 62.5%;
    box-sizing: border-box;

}

*, *:before, *:after {
    box-sizing: inherit;

  }

body{
    background-color: rgb(77, 116, 103);
    font-size: 1.6rem;
    line-height: 1.5;
}

p{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3{
    text-align: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 4rem;
    font-family: 'Anton', sans-serif;

}
h2{
    font-size: 3.2rem;
    font-family: 'Montserrat', sans-serif;
}
h3{
    font-size: 2.4rem;
    font-family: 'Montserrat', sans-serif;
    color: rgb(172, 173, 103);
}

.header{
    display: flex;
    justify-content: center;
}

.header__logo{
    margin: 3rem 0;
}

.navegacion{
    background-color: rgb(55, 87, 76);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem; /** nueva forma **/

}

.navegacion__enlace{
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 3rem;
    /** otra forma mas global es margin-right: 2rem; **/

}

.footer{
    background-color: rgb(55, 87, 76);
    padding: 1rem 0;
    margin-top: 2rem;

}

.footer__texto{
    text-align: center;
    font-size: 2.2rem;
}



.navegacion__enlace:hover,
.navegacion__enlace--activo{
    color: teal;
}


/**GRID**/
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px) {
    .grid{
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem ;
    }
    
}


/**productos**/
.producto{
    background-color: rgb(55, 87, 76);
    padding: 1rem;

}



.producto__nombre{
    font-size: 4rem;
}

.producto__precio{
    font-size: 2.8rem;
    color: greenyellow;
}

.producto__nombre,
.producto__precio{
    font-family: 'Montserrat', sans-serif;
    margin: 1rem 0;
    text-align: center;
}

.grafico {
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
}

.grafico--camisas{
    grid-row: 2 / 3;
    background-image: url(../img/grafico1.jpg);
}

.grafico--node{
    background-image: url(../img/grafico2.jpg);
    grid-row: 8 / 9;
}

@media (min-width: 768px) {
    .grafico--node{
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    
    }
    
}


/**NOSOTROS **/
.nosotros{
    display: grid;
    grid-template-rows: repeat(2, auto);
}

@media (min-width: 768px) {
    .nosotros{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    
    }
}


@media (min-width: 768px) {
    .nosotros__imagen{
        grid-column: 2 / 3;
    }
    
}

.bloques{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .bloques{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
    
}

.bloque{
    text-align: center;
}

.bloque__titulo{
    margin: 0;
}

/**Pagina del producto**/

@media (min-width: 768px) {
    .camisa{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
    
}

.formulario{
    display: grid;
    grid-template-columns: repeat(2, fr);
    gap: 2rem;
}

.formulario__campo{
    border: 1rem solid rgb(55, 82, 73);
    background-color: transparent;
    font-size: 2rem;
    padding: 1rem;
    appearance: none;
    font-family: Arial, Helvetica, sans-serif

}

.formulario__submit{
    background-color: rgb(94, 133, 57);
    color: white;
    border: none;
    padding: 2rem;
    border-radius: 7px;
    transition: background-color 1s ease;
    grid-column: 1 / 3;
    font-family: Arial, Helvetica, sans-serif;
}

.formulario__submit:hover{
    cursor: pointer;
    background-color: rgba(105, 102, 102, 0.24);
}